/* Always set the map height explicitly to define the size of the div
   *element that contains the map. */
#map {
  /* div is a block element so width not need to be specified */
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.custom-cm {
  /* 10px top/bottom 0px left/right padding */
  padding: 10px 0px;
  width: 175px;
  color: blue;
  display: none;
  position: absolute;
}

div.cm-item {
  cursor: pointer;
  padding: 8px 15px;
}

div.cm-item:hover {
  background-color: grey;
}

div.cm-divider {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0;
}
