/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
#map {
  /* div is a block element so width not need to be specified */
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.custom-cm {
  background-color: lightgray;
  /* border: 1px solid gray; */
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); */
  /**=======================
   * ?      why does padding affect text spacing to one line? how do i do this in bulma
   *  
   *  
   *========================**/
  padding: 10px 0;
  /* width: 200px; */

  /**=======================
   * ?      how do i control display, top, botton in bulma?
   *  
   *  
   *========================**/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

div.cm-item {
  cursor: pointer;
  padding: 8px 15px;
}

div.cm-item:hover {
  background-color: red;
}

div.cm-divider {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0;
}
