[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "~=1.3.0"
python-multipart = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
